.footer-top {
    position: relative;
    margin-bottom: 3rem;
    padding: 30px 0 20px 0;
    background: url('../images/bg/footer-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    &:after {
        @include bg-overlay(black, 0.7);  
      }
}

.footer-top-content {
    position: relative;
    z-index: 101;

    .footer-column {
        margin-bottom: 1rem;
        color: #fff;
    }
}

.footer-text {
  font-size: 0.75rem;
  color: $custom-secondary-2;
  line-height: 1.5;
}

.footer-contact-list {
  margin-bottom: 0.75rem;
}

.footer-contact-item {
  padding: 0.2rem 0;
}

.social-box {
  margin-right: 10px;
  width: 26px;
  height: 26px;
}

.newsletter-form {
  margin-bottom: 0.75rem;
}

.newsletter-form-control {
  height: 1.55rem;
  font-size: 0.75rem;
}

.newsletter-btn {
  padding: .25rem 1rem;
  font-size: 0.625rem;
}

.copyright {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: $custom-primary-1;
  color: #fff;
  font-size: 0.75rem;
  z-index: 1100;
}





.front-page-welcome {
  padding: 1rem;
}

.intro-subheader {}


.intro-header {
  color: $custom-primary-1;
  span {
    color: $custom-secondary-4;
  }
}



