.custom-header-item-link {
    font-size: .75rem;
    @include media-breakpoint-up(md) {
        padding: 1.25rem 1.25rem;
    }
}

/*
IMPORTANT
 @include media-breakpoint-up(md) {} - Bootstrap way to declare madia queries
*/

.custom-header {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.company-logo {
    max-height: 50px;
}

.custom-header-item-active {
    border-bottom: solid 2px $custom-secondary-4;
}

.custom-top-section {
    margin-bottom: 0;
    position: relative;
    background: url('../images/main-nanner-1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:after {
      @include bg-overlay(black, 0.1);  
    }
}

.custom-top-section-header {
    position: relative;
    filter: drop-shadow(0 2px rgba($custom-grey-900, 2));
    z-index: 10;
}
