.contact-us-title {
  margin-top: 30px;
  width: 100%;
  font-weight: 300;
  border-bottom: 1px dotted $custom-primary-1;
  text-align: center;
}

.contact-us-text {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.contact-us-content {
  
  font-size: 1rem;
  span {
      font-weight: 600;
  
  }
  .p-1 {
      font-size: 1.25rem;
      border-bottom: 1px dotted $custom-primary-1;
  }
  
}

.map-container {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}


label {
  color: $custom-primary-1;
}

.submit-button {
  width: 100%;
}


#customFile .custom-file-control:lang(en)::after {
  content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
  content: "Click me";
}



