.contact-us-title {
    width: 100%;
    font-weight: 300;
    border-bottom: 1px solid $custom-primary-1;
}

.contact-us-text {
  	margin-bottom: 20px;
    font-size: 1.125rem;
}

.contact-us-content {
    font-size: 1rem;
    span {
        font-weight: 600;
    }
    .p-1 {
        font-size: 1.25rem;
        border-bottom: 1px dotted $custom-primary-1;
		}
		
		.map-container {
			display: flex;
			justify-content: center;
		}
}