.post-lists-page {
    padding: 50px 0;
}

.post-item {
    padding-bottom: 40px;
}

.news-item-title {
    color: $custom-primary-1;
    font-size: 1.571rem;
}

.news-aside-section {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: lighten($custom-secondary-3, 15%);

}

