//colors
$custom-accent-color: #be8c6b;
$custom-grey-100: #f8f8f8;
$custom-grey-200: #eee;
$custom-grey-600: #b7b7b7;
$custom-grey-800: #707070;
$custom-grey-900: #444;
$input-bg: #fcfcfc;
$input-border-color: darken($custom-grey-200, 3%);
$contact-form-shadow: #292c31;
$product-search-btn-color: #ccc;


