/* ######### CUSTOM SASS VARIABLES TO OVERWRITE BOOTSTRAP ########## */

//colors
$custom-primary-1: #607D8B; /*GREY BLUE*/
$custom-primary-1-hover: #F9A825; /**/
$custom-primary-2: #4E5D64; /*to confirm*/
$custom-primary-3: #0157A0; /*DARK BLUE*/
$custom-primary-4: #1C71B9; /*MEDIUM BLUE*/


$custom-secondary-1: #6F7C7C; /*GREEN GREY*/
$custom-secondary-2: #96A0AD; /*MEDIUM GREY*/
$custom-secondary-3: #CCC; /*LIGHT GREY*/
$custom-secondary-4: #EF6C00; /*ORANGE*/

$custom-basic-dark: #363636; /*CHARCOAL BLACK*/

$custom-primery-color: #607D8B;
$custom-accent-color: #be8c6b;
$custom-grey-100: #f8f8f8;
$custom-grey-200: #eee;
$custom-grey-600: #b7b7b7;
$custom-grey-800: #707070;
$custom-grey-900: #444;
$input-bg: #fcfcfc;
$input-border-color: darken($custom-grey-200, 3%);
$contact-form-shadow: #292c31;
$product-search-btn-color: #ccc;

//fonts
$font-primary: 'Raleway', Helvetica, Arial, sans-serif;
$font-secondary: 'Open Sans', Helvetica, Arial, sans-serif;





/* ######### OVERWRITING BOOTSTRAP SASS VARIABLES ########## */

//colors
$theme-colors: (
    "primary": $custom-primary-1
);

$grey-100: $custom-grey-100;
$grey-200: $custom-grey-200;
$grey-600: $custom-grey-600;
$grey-800: $custom-grey-800;
$grey-900: $custom-grey-900;

//border radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//fonts
$font-family-sans-serif: $font-primary;
$headings-font-family: $font-secondary;
$headings-font-weight: 600;
$font-size-base: 0.875rem;
$line-height-base: 1.75;
$font-size-sm: ($font-size-base * .75);

//navbar
$navbar-padding-y: 0;
$navbar-light-color: $custom-primary-1;
$navbar-light-hover-color: $custom-secondary-4;


//H-tags
$h2-font-size: 2.143rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1rem;
$h5-font-size: 0.875rem;

//Jumbotron
$jumbotron-padding: 4rem;

